<mat-card class="main-card">
    <mat-card-content>
      <div class="card-container">
        <div *ngFor="let quiz of quizzesList" class="quiz-card">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ quiz.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="center-content">
              <span>Quiz ID: {{ quiz.id }}</span>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>