.main-card {
  display: flex;
  justify-content: center;
  margin: 10rem;
}

.quiz-card {
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.quiz-card:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mat-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.575);
}