/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    animation: moveThingy 17s alternate infinite ease-in-out;
    background-image: linear-gradient(
      to left,
      #ffffff 0,
      #ffffff 10px,
      transparent 10px,
      transparent 20px
    ),
    linear-gradient(#ffffff 0, #ffffff 10px, #000000 10px, #000 20px);
    background-size: 20px 20px;
    background-position: center;
  }

  @keyframes moveThingy {
    from {
        transform: 20% 20%;
      }
      50% {
        background-size: 70% 70%;
      }
      to {
          transform: 40% 40%
      }
  } 

