.container {
 max-width: 800px;  
 margin: auto;
 padding: 20px;
 background-color: white;
 text-align: center;
 align-items: center;

}

h1{
   text-align: center; 
   align-items: center;
   color: black;
   font-family: 'Times New Roman';
   font-size: 300%;
   margin-bottom: 20px;
}

.quiz-form {
    background-color: rgb(233, 159, 159);
    border: 1px solid rgb(220, 147, 147);
    padding: 50px;
    margin: 50px 0;
    border-radius: 15px;
  }
  

button:hover{
    background-color: #a517bb;
}